
/* . is voor class en # is voor id. */

.button {
    -fx-background-radius: 15px;
    -fx-min-width: 150px;
    -fx-min-height: 100px;
    -fx-background-color: linear-gradient(to right, #0041A3, #00009A);
    -fx-padding: 0px;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    -fx-border-color: white;
}


.bg {
    -fx-background-image: url("../fotos/test2.jpg");
}

.pinfield {
    -fx-background-color: linear-gradient(to right, #00009A, #000674);
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

