/* . is voor class en # is voor id. */




#login.bg {
    -fx-background-image: url("../fotos/pincode.jpg") no-repeat;
}
#main.bg {
    -fx-background-image: url("../fotos/main.jpg") no-repeat;
}
#saldo.bg{
    -fx-background-image: url("../fotos/saldo.jpg") no-repeat;
}
#bedrag.bg{
    -fx-background-image: url("../fotos/bedrag.jpg") no-repeat;
}
#eigenBedrag.bg{
    -fx-background-image: url("../fotos/eigenBedrag.jpg") no-repeat;
}

#button.knop {
    -fx-background-radius: 15px;
    -fx-min-width: 150px;
    -fx-min-height: 100px;
    -fx-background-color: linear-gradient(to right, #0041A3, #00009A);
    -fx-padding: 0px;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
    -fx-border-color: white;
}


#saldo.field {
    -fx-background-color: #000674;
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#pin.field {
    -fx-background-color: linear-gradient(to right, #00009A, #000674);
    -fx-pref-height: 50px;
    -fx-pref-width: 260px;
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

